body {
    background-color: rgb(208, 228, 255);
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color:rgb(42, 56, 112);
    padding: 0;
    -webkit-box-shadow: 3px 7px 10px 0px rgba(45, 46, 67, 0.85);
    -moz-box-shadow:    3px 7px 10px 0px rgba(45, 46, 67, 0.85);
    box-shadow:         3px 7px 10px 0px rgba(45, 46, 67, 0.85);
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 25px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
    -webkit-box-shadow: 2px 4px 8px 0px rgba(45, 46, 67, 0.85);
    -moz-box-shadow:    2px 4px 8px 0px rgba(45, 46, 67, 0.85);
    box-shadow:         2px 4px 8px 0px rgba(45, 46, 67, 0.85);
  }
  h1 {
    color: rgb(42, 56, 112);
    text-align: center;
    
  }
  .content h2 {
    padding: 4;
    margin: 1;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: rgb(121, 142, 207);
  }